.projects {
  margin: 36px auto;
  max-width: 1100px;
}

.projects__header {
  margin: 0 0 20px;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 40px;
  justify-self: center;
}

.projects__container {
  margin: 0 auto;
  padding: 0;
  max-width: 1100px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 500px);
  gap: 12px;
}

.projects__project {
  margin: 0;
  padding: 0;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.projects__title {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.projects__img {
  height: 320px;
  width: 500px;
  object-fit: cover;
  border-radius: 16px;
  border: 2px solid #0421c4;
}
